.cardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);

    .imageContainer {
        display: flex;
        width: 100%;
        height: 30vh;
        justify-content: center;
        margin: 10px 0;
        img {
            width: auto;
            height: 200px;
        }
    }
    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 20px;
        
        .cardHeader {
            
            .beerSubHeader {
                color: #1e9fc2;
            }

            .beerDescription {
                text-align: justify;
            }

            .beerBrewDate {
                font-weight: 700;
                margin-top: 20px;
            }
        }

        .cardFooter {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;

            .bdShopBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 30px;
                background-color: black;
                font-family: 'Oswald', sans-serif;
                font-size: 1rem;
                border: none;
                transform: scale(1);
                cursor: pointer;

                a {
                    color: #FFF;
                    text-decoration: none;
                }

                &:hover {
                    transform: scale(1.02);
                }
            }

            .beerABV {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid black;
                border-radius: 20px;
                width: 100px;
                height: 30px;
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .cardContainer {
        border-radius: 7px;
    
        .imageContainer {
            // background-color: cornflowerblue;
            height: 120px;
            margin-top: 20px;

            img {
                height: 100px;
                width: auto;
            }
        }
        .contentContainer {
            width: 90%;
            padding: 0;
            margin: 0 auto;

           .cardHeader {
               font-size: 0.8rem;

               .beerSubHeader {
                   font-size: 0.65rem;
                   margin: 7px 0;
               }

               .beerDescription {
                   font-size: 0.5rem;
               }

               .beerBrewDate {
                   font-size: 0.5rem;
                   font-weight: 700;
                   margin-top: 7px;
               }
           }
           .cardFooter {
               margin-bottom: 20px;
            
               .beerABV,
               .bdShopBtn {
                   height: 25px;
                   width: 70px;
                   font-size: .6rem;
               }
               
               .beerABV {
                    border: 2px solid black;
               }
           }
        }
    }
}