@import '../../Assets/Styles/variables';

.searchBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    input {
        width: 70%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #1e9fc2;
        color: #1e9fc2;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .searchBarContainer {
        margin: 0;

        input {
            width: 85%;
            height: 20px;
            margin-bottom: 10px;
        }
    }
}